.prevCard__wrapper {
    position: relative;
    margin-bottom: 160px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.container {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 31px 168px 68px 168px;
}

.cardItem {
    max-width: 330px;
    min-width: 250px;
}

.block__info__wrapper {
    position: relative;
    min-width: 140px;
}

.block__info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.heading {
    margin: 0;
    font-size: 58px;
    font-weight: 500;
}

.description {
    text-align: center;
    font-size: 18px;
}

@media (max-width:900px) {
    .prevCard__wrapper {
        margin-bottom: 110px;
    }

    .container {
        padding: 31px 45px 68px 45px;
    }

    .cardItem {
        max-width: 245px;
        flex-shrink: 0;
    }

    .heading {
        font-size: 54px;
    }
}


@media (max-width: 768px) {
    .prevCard__wrapper {
        margin-bottom: 80px;
    }

    .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            'desc desc'
            'card1 card2'
        ;
        gap: 30px;
        padding: 31px 15px 68px 15px;
    }

    .block__info__wrapper {
        grid-area: desc;
        min-width: 0;
    }

    .block__info {
        position: relative;
    }

    .cardItem {
        max-width: none;
        min-width: 0;
    }

    .button {
        width: 132px;
        height: 40px;
    }
}