.prevCard__wrapper {
    position: relative;
    min-height: 650px;
    margin-bottom: 160px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.container {
    display: flex;
    justify-content: space-between;
    padding: 48px 134px 91px 134px;
}

.block__info {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -10%;
    margin-top: -10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.heading {
    margin: 0;
    font-size: 58px;
    font-weight: 500;
}

.description {
    text-align: center;
    font-size: 18px;
}

@media (max-width: 1150px) {
    .block__info {
        margin-left: -13%;
    }
}

@media (max-width: 768px) {
    .prevCard__wrapper {
        margin-bottom: 110px;
    }
}