.container {
    padding-left: 43px;
    display: flex;
}

.bestsellers__description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 200px;
    padding-right: 125px;
}


.button__bestSellers {
    width: 155px;
}