.bestsellers__slider__wrapper {
    max-height: 389px;
    overflow: hidden;
}

.block__bestsellers__cards {
    display: flex;
    transition: translate;
    transition-property: transform;
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
    scroll-snap-type: y mandatory;
}

.block__bestsellers__control {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-top: 24px;
    padding-right: 77px;
}

.button__arrow {
    stroke: rgba(18, 41, 71, 1);
    width: 45px;
    height: 12px;
    cursor: pointer;
}

.button__arrow:hover {
    stroke-width: 2px;
}

@media (max-width: 768px) {
    .block__bestsellers__control {
        padding-right: 0;
        justify-content: space-around;
    }
}

@media (max-width: 500px) {
    .block__bestsellers__cards {
        padding-left: 40px;
    }

    .block__bestsellers__control {
        display: none;
    }

}