.goods__wrapper {
    padding-top: 30px;
}

.block__goods {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 24%);
    gap: 29px;
}

.message__block {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    font-size: 32px;
}







@media(max-width:900px) {
    .block__goods {
        grid-template-columns: repeat(2, 48%);
    }
}

@media(max-width:768px) {
    .block__goods {
        grid-template-columns: 1fr;
    }
}