.input__wrapper {
    display: flex;
    align-items: center;
    caret-color: transparent;
}

.radio_button {
    display: none;
}

.input_not_selected {
    color: rgba(154, 157, 160, 1);
}

.input_selected {
    color: rgba(18, 41, 71, 1);
}


.custom__checkbox {
    position: relative;
    display: inline-block;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    margin-right: 10px;
    border: 1px solid rgba(205, 205, 205, 1);
    text-align: center;
}

[type=checkbox]:checked+.custom__checkbox:before {
    display: inline-block;
}

.custom__checkbox::before {
    display: none;
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgba(18, 41, 71, 1);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}