.input__wrapper {
    display: flex;
    align-items: center;
    caret-color: transparent;
    font-weight: 400;
    cursor: pointer;
}

.input__wrapper:hover {
    font-weight: bolder;
}

.input__wrapper:not(:last-child) {
    margin-bottom: 20px;
}

.radio_button {
    display: none;
}

.input_not_selected {
    cursor: pointer;
    color: rgba(154, 157, 160, 1);
}

.input_selected {
    cursor: pointer;
    color: rgba(18, 41, 71, 1);
}


.custom__checkbox {
    position: relative;
    display: inline-block;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    margin-right: 10px;
    border: 1px solid rgba(205, 205, 205, 1);
    text-align: center;
}

.input__wrapper input[type=checkbox]:checked + .custom__checkbox {
    width: 11.5px;
    height: 11.5px;
    background-color: rgba(18, 41, 71, 1);
    border: 3px solid rgba(248, 248, 246, 1);
    outline:  1px solid rgba(205, 205, 205, 1);
}