.header__container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    height: 100px;
    padding: 0 98px;
}


.burger__menu {
    display: none;
}

.menu {
    display: grid;
    justify-content: flex-end;
}

.header__list {
    display: flex;
    align-items: center;
    list-style: none;
    font-weight: 400;
    font-size: 16px;
}

.header_list__item:not(:last-child) {
    margin-right: 40px;
}


@media (max-width: 900px) {
    .logo {
        text-align: center;
    }

    .burger__menu {
        display: block;
    }

    .header__list li:nth-child(-n+3) {
        display: none;
    }

    .header__container {
        grid-template-columns: 1fr 1fr 1fr;
        padding: 0 45px;
    }
}

@media (max-width: 768px) {
    .header__container {
        padding: 0 15px;
    }

}