.section__banner {
    position: relative;
    width: 100%;
    min-height: 400px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.banner__description__wrapper {
    position: absolute;
    top: 25%;
    right: 20%;
    max-width: 280px;
}


@media (max-width: 900px) {
    .banner__description__wrapper {
        right: 10%;
        
    }
    .section__banner {
        min-height: 432px;
    }
}

@media (max-width: 768px) {
    .banner__description__wrapper {
        text-align: center;
        top: 65%;
        left: 50%;
        translate: -50% -50%;
        min-width: 253px;
    }
}