.section__joinUs {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    padding: 0 77px;

}

.cover__pictures {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 700px;
}

.cover__picture {
    max-width: 233px;
    max-height: 233px;
}

.description {
    padding-left: 20px;
    flex-shrink: 0.45;
}

@media (max-width:1200px) {
    .cover__pictures {
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    }
    .picture__for_desktop {
        display: none;
    }
}

@media(max-width:900px) {

    .section__joinUs {
        padding: 0 45px;
    }

    .cover__picture {
        max-width: 177px;
    }

}

@media(max-width:768px) {
    .section__joinUs {
        padding: 0 15px;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
       place-content: center;
    }

    .cover__picture {
        max-width: 145px;
    }
}