.section__joinUs {
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 0 98px;
}

.cover__pictures {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    max-width: 700px;
    min-width: 428px;
}

.cover__picture {
    max-width: 100%;
}

.description {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    padding-left: 70px;

}


@media(max-width:900px) {

    .section__joinUs {
        padding: 0 45px;

    }

    .cover__pictures {
        grid-template-columns: 50% 50%;
        min-width: 0;
    }

    .picture__for_desktop {
        display: none;
    }

}

@media(max-width:768px) {
    .section__joinUs {
        grid-template-columns: 1fr;
        padding: 0 15px;
    }

    .cover__pictures {
        grid-row-end: 3;
    }

    .description {
        align-items: center;
        text-align: center;
        padding-left: 0;
        padding-bottom: 50px;
    }
}